@use "../../styles/partials/globals" as *;

.status-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: 12px;
  padding: 1.1rem 1rem 0.4rem;
  background: white;
  border: 1px solid #eee;
  border-radius: 12px;
  transition: 0.3s;
  margin-top: 0.1rem;

  &--highlighted {
    background: #ffefef;
    border-color: #ffc0c0;
  }

  &__icon {
    background: #e60023;
    padding: 0.54rem;
    margin-right: 0.15rem;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
  }

  &__content {
    flex: 1;
    margin-top: -0.9rem;
  }

  &__title {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    margin-bottom: -0.1rem;
  }

  &__description {
    font-size: 14px;
    color: #666;
    padding-bottom: 0;
  }
}


.demo-dash {
  font-weight: 600;
  font-size: 0.87rem;
  color: #e20526;
}
.status__title {
  font-weight: 500;
  // color: rgb(205, 56, 56);
  opacity: 50%;
  background-color: #ffc0c0;
 margin-left: 0.4rem;
  font-size: 0.8rem;
  padding: 0.3rem 1rem 0;
  width: 90%;
  text-align: center;
  background: white;
  // border: 1px solid #eee;
  // border-radius: 12px;
  // transition: 0.3s;
}
.status-cards {
  margin-bottom: 6rem;
  margin-top: 0.1rem;
  flex-direction: column;
  margin-bottom: 9rem;
  display: flex;
  width: 100%;
  gap: 12px;
  padding: 0.6rem 1rem 5rem;
  background: white;
  // border: 1px solid #eee;
  border-radius: 12px;
  transition: 0.3s;
}

// .status-card--part {
//   display: flex;
//   flex-direction: column;
// }
